<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315398314807-0kfuim9iuuou934atjmqdcav02v7dek2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315398314807-0kfuim9iuuou934atjmqdcav02v7dek2</string>
	<key>API_KEY</key>
	<string>AIzaSyA_zqGOWkbRxXfBdog6OhbcQdsnFHMxboc</string>
	<key>GCM_SENDER_ID</key>
	<string>315398314807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nimmalasujith.iwater</string>
	<key>PROJECT_ID</key>
	<string>iwatertestapp</string>
	<key>STORAGE_BUCKET</key>
	<string>iwatertestapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315398314807:ios:ef6a1c3bd0d5a9e26dd8b2</string>
	<key>DATABASE_URL</key>
	<string>https://iwatertestapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>